<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.yappino.app"
    version   = "1.0.0">

<name>Yappino [Beta]</name>

<description>
Sistema de encuesta para bares y restaurantes.
</description>
<preference name="phonegap-version" value="2.9.0" />
<preference name="orientation" value="portrait" />
<preference name="fullscreen" value="true" />
<icon src="http://yappino.com/apps/icon_gde.png" />
<gap:splash src="http://yappino.com/apps/splash.png" />
<preference name="splash-screen-duration" value="18000" />
<preference name="exit-on-suspend" value="true" />



<author href="http://www.yappino.com" email="contacto@leocondori.com.ar">
Leonardo Condori
</author>

</widget>
